extends layout

block content
  h1= title
  p Hi, This is #{title} REST API.

  p 
    a(href="http://priyanshrastogi.com") API Docs

  p Copyright &copy; 
    a(href="http://priyanshrastogi.com") Priyansh Rastogi
    , 2017

  p Powered by Express.js
